* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-image: url('./Source/Images/forest.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg:empty {
  position: fixed;
  margin-top: -250px;
  z-index: -999;
  background: rgb(166, 113, 88);
  opacity: 0.2;
  min-width: 1920px;
  min-height: 1080px;
  transition: opacity 0.5s ease-out;
}

#Gallery {
  margin: 0;
}

#description {
  position: relative;
  right: 0px;
  height: calc(100% - 540px);
  width: 500px;
  margin-top: 250px;
  margin-left: 470px;
  padding: 20px;
  box-sizing: border-box;
  transition: margin-left 1s ease-in;
}

#description p {
  text-align: center;
  transition: color 1s ease-out;
}

#description h1 {
  text-align: center;
}

#description #gallery1 {
  position: relative;
  float: right;
  padding: 5px;
  margin-top: 15px;
  box-sizing: border-box;
}

#photos {
  height: 100vh;
  position: relative;
  width: 50%;
  /* display: none; */
  top: 1080px;
  float: right;
  transition: top 0.5s ease-in;
  overflow-x: hidden;
}

#photos::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(235, 235, 235, 0.31);
}

#photos::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#photos::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(45, 45, 45);
}
