* {
  margin: 0;
  padding: 0;
}

body {
  height: 1920px;
  width: 1080px;
  overflow: hidden;
  background-image: url("./Source/Images/forest.jpg");
  background-size: contain;
  background-position: 0px -75px;
  background-repeat: no-repeat;
}

.bg:empty {
  position: fixed;
  margin-top: -250px;
  z-index: -999;
  background: white;
  opacity: 0.25;
  min-width: 1920px;
  min-height: 1080px;
  transition: opacity 0.5s ease-out;
}

#navigator {
  position: absolute;
  top: 15px;
  margin-left: 420px;
}

#navigator ul {
  list-style: none;
}

#navigator ul li {
  float: left;
  margin: 10px 30px;
}

#navigator ul li a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

#navigator ul a:hover {
  text-decoration: line-through;
}

#contact .cont {
  float: right;
  position: relative;
  float: right;
  width: 150px;
  padding: 10px;
  border-radius: 30px;
  box-sizing: border-box;
  color: white;
  background: transparent;
  border-style: solid;
  border-color: white;
}

#contact .cont:hover {
  color: black;
  border-style: none;
  background: white;
}

#home {
  position: absolute;
  height: 330px;
  width: 1050px;
  padding: 15px;
  box-sizing: border-box;
  left: 230px;
  top: 190px;
}

#home .window {
  position: absolute;
  float: left;
}

#home #myImg {
  position: relative;
  left: 80px;
  top: 50px;
  float: left;
  animation: Imgmove 2s;
}

#home .description {
  position: relative;
  top: 70px;
  float: right;
}

#home .description h1 {
  text-align: center;
  margin: 15px;
}

#home .description p {
  width: 400px;
  font-size: 26px;
  text-align: center;
}

#about h1 {
  position: absolute;
  top: 145px;
  left: 495px;
  font-size: 46px;
}

#about p {
  position: absolute;
  width: 450px;
  height: 310px;
  font-size: 23px;
  top: 260px;
  left: 820px;
}

#about img {
  position: absolute;
  bottom: 0;
  left: 180px;
}

#about .shapes {
  position: relative;
  width: 465px;
  height: 255px;
  background: white;
  z-index: -3;
  top: 175px;
  left: 605px;
}

#Gallery {
  margin: 0;
}

#description {
  position: relative;
  right: 0px;
  height: calc(100% - 540px);
  width: 500px;
  top: 250px;
  left: -500px;
  padding: 20px;
  box-sizing: border-box;
  transition: left 1s ease-in;
  /*button {
        color: #fff;
        position: relative;
        float: right;
        width: 150px;
        padding: 10px;
        margin-top: 15px;
        box-sizing: border-box;
        border-radius: 30px;
        background: transparent;
        border-style: solid;
        border-color: #fff;
        border-width: 2px;
    }*/
}

#description p {
  text-align: center;
}

#description h1 {
  text-align: center;
}

#photos {
  position: absolute;
  top: 1080px;
  left: 765px;
  float: right;
  transition: top 0.5s ease-in 0.2s;
  overflow-x: hidden;
  display: inline;
}

#photos .work {
  height: 320px;
  width: 640px;
  margin-bottom: 20px;
  margin-right: 115px;
}

#photos .work img {
  position: relative;
  width: 100%;
  z-index: -1;
}

#photos .work h3 {
  padding-top: 130px;
  padding-left: 90px;
  left: 60px;
  font-size: 24px;
  position: relative;
  box-sizing: border-box;
  top: -305px;
  color: black;
  text-decoration: none;
  transition: opacity 0.3s ease-in;
  opacity: 0;
}

#photos .work:hover img {
  filter: blur(5px);
  filter: grayscale(80%);
}

#photos .work:hover h3 {
  text-decoration: none;
  opacity: 1;
}

#photos::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(235, 235, 235, 0.31);
}

#photos::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#photos::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2d2d2d;
}

/*-----CAPTURE THE FEELING-----*/
#publish .graphics {
  position: absolute;
  z-index: -1;
}

#publish h1 {
  position: absolute;
  top: 95px;
  right: 120px;
  font-size: 36px;
}

#publish .descri {
  width: 430px;
  height: 100px;
  font-size: 20px;
  text-align: center;
  top: 200px;
  right: 350px;
  position: absolute;
}

#publish img {
  width: 517px;
  height: 323px;
}

#publish .passenger {
  position: absolute;
  top: 75px;
  left: 125px;
  box-shadow: -15px 10px 15px rgba(0, 0, 0, 0.4);
}

#publish #lyrics {
  position: absolute;
  width: 450px;
  height: 150px;
  font-size: 20px;
  left: 250px;
  top: 480px;
}

#publish #slider {
  position: absolute;
  right: 120px;
  bottom: 40px;
  width: 517px;
  height: 323px;
  display: flex;
  overflow: overlay;
  overflow-x: hidden;
  box-shadow: 15px 10px 15px rgba(0, 0, 0, 0.4);
}

#publish #slider img {
  position: relative;
  animation: slider 10s cubic-bezier(0.4, 0, 0.2, 1) 3s;
}

/*-----SKILLS-----*/
#skill .circle {
  position: absolute;
  top: 70px;
  left: calc(100vh - 300px);
  width: 600px;
  height: 600px;
  background: white;
  border-radius: 500px;
  filter: blur(5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
  z-index: -1;
}

#skill .descri {
  position: absolute;
  left: calc(100vh - 300px);
  width: 600px;
  height: 600px;
  padding: 50px;
  box-sizing: border-box;
  transition-delay: 0.2s;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-property: top, opacity;
}

#skill .descri h1,
#skill .descri p {
  margin: 100px 0 100px 0;
  text-align: center;
}

#skill .descri .next {
  position: absolute;
  left: calc(100vh - 460px);
  bottom: 80px;
  background-image: url("./Source/Icons/next-page.svg");
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  opacity: 0.3;
}

#skill .descri .next:hover {
  opacity: 1;
}

#skill .des1 {
  top: 110px;
}

#skill .des2 {
  top: 710px;
  opacity: 0;
}

#skill .des3 {
  top: 710px;
  opacity: 0;
}

/*-----CONTACT-----*/
#contact .links img {
  width: 40px;
  height: 40px;
}

#contact h1 {
  position: absolute;
  left: 80px;
  top: 70px;
  font-size: 3em;
}

#contact a {
  position: relative;
  top: 15px;
}

#contact h3 {
  position: absolute;
  top: 170px;
  right: 80px;
  font-size: 2em;
}

#contact p {
  font-size: 1.5em;
}

#contact .work {
  position: absolute;
  left: 80px;
  bottom: 50px;
}

#contact .social {
  position: absolute;
  right: 80px;
  bottom: 50px;
}

@keyframes Imgmove {
  from {
    left: 115px;
    top: 85px;
    opacity: 0;
  }
  to {
    left: 80px;
    top: 50px;
    opacity: 1;
  }
}

@keyframes slider {
  0% {
    right: 0px;
  }
  25% {
    right: 517px;
  }
  75% {
    right: 517px;
  }
  100% {
    right: 0px;
  }
}

@media only screen and (max-width: 375px) {
  body {
    background-size: auto 100%;
    background-position: center;
  }
}
/*# sourceMappingURL=Styles.css.map */